.radius5
{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.radius10 
{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;

}

.fade
{
  opacity: 0.3;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade:hover
{
  opacity: 1;
}

.text-shadowed
{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  color:white;
}

.font12 { font: 12px sans; }
.font16 { font: 16px sans; }
.font20 { font: 20px sans; }
.italic { font-style:italic; }
.bold   { font-weight:bold; }




.menuitem
{
  background: linear-gradient(to bottom, #292929 0px, #252525 100%)
  repeat scroll 0 0 #272727;
  border-bottom: 1px solid #1B1B1B;
  border-top: 1px solid #323232;
  color:#999999;
  font-family: sans;
  font-size: 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  cursor:pointer;
}

.menuitem:hover
{
  background: none repeat scroll 0 0 #1C1C1C;
}

.menucaption
{
  font-weight: bold;
  color:lightblue;
  cursor:default;
  font-size: 11px;
}

.menucaption:hover
{
  background: linear-gradient(to bottom, #292929 0px, #252525 100%)
    repeat scroll 0 0 #272727;
}

body{
scrollbar-face-color: #000000;
scrollbar-shadow-color: #2D2C4D;
scrollbar-highlight-color:#7D7E94;
scrollbar-3dlight-color: #7D7E94;
scrollbar-darkshadow-color: #2D2C4D;
scrollbar-track-color: #7D7E94;
scrollbar-arrow-color: #C1C1D1;
}