.w0060>*
{
  height:100%;
  float: left;
}

.w0060>input
{
  left: -1000%;
  position:absolute;
}

.w0060>button
{
  width:30px;
}

.w0060>div 
{
  direction:rtl;
  left:30px;
  margin-right:30px;
  position:absolute;
  text-align:left;
}

.w0060>div>button
{
  height:100%;
}