div[wid="0060"] > *
{
  height:100%;
  float: left;
}

div[wid="0060"] > input
{
  left: -1000%;
  position:absolute;
}

div[wid="0060"] > button
{
  width:30px;
}

div[wid="0060"] > div 
{
  direction:rtl;
  left:30px;
  margin-right:30px;
  position:absolute;
  text-align: left;
}

div[wid="0060"] > div > button
{
  height:100%;
}