div[wid="0111"]
{
  position:relative;
  overflow:hidden;
  float:left;
  height:100%;
}

div[wid="0111"]>div[class~=w0112]
{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}


div[wid="0111"][class~=w0112]{
  overflow:visible;
}